footer.footer
  .container
    nav.pull-left
      ul.nav
        li.nav-item RSISA - Disposisi Online
    .copyright.ml-auto
      | v#{process.env.APP_VERSION || '0.0.1'} &copy;2022, made with 
      i.fa.fa-heart.heart.text-danger
      |  by 
      a(href='https://azuralabs.id') Azura Labs
