title #{title !== nil ? title : 'RSISA - Disposisi Online'}

meta(http-equiv="X-UA-Compatible" content="IE=edge")
meta(content='width=device-width, initial-scale=1.0, shrink-to-fit=no' name='viewport')
meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')

link(rel='icon' href='/assets/img/icon.ico')
link(rel='stylesheet', href='/assets/css/bootstrap.min.css')
link(rel='stylesheet', href='/assets/css/atlantis2.css')
link(rel='stylesheet', href='/assets/css/demo.css')
link(rel='stylesheet', href='/assets/css/plugins/bootstrap-table/bootstrap-table.min.css')
link(rel='stylesheet', href='/assets/css/plugins/bootsrap-mobilekit/bootstrap-mobilekit.min.css')

script(src='/assets/js/plugin/webfont/webfont.min.js')
script.
  WebFont.load({
    google: {"families":["Lato:300,400,700,900"]},
    custom: {"families":["Flaticon", "Font Awesome 5 Solid", "Font Awesome 5 Regular", "Font Awesome 5 Brands", "simple-line-icons"], urls: ['/assets/css/fonts.min.css']},
    active: function() {
      sessionStorage.fonts = true;
    }
  });

<!--   Core JS Files   -->
script(src='/assets/js/core/jquery.3.2.1.min.js')
script(src='/assets/js/core/popper.min.js')
script(src='/assets/js/core/bootstrap.min.js')

<!-- jQuery UI -->
script(src='/assets/js/plugin/jquery-ui-1.12.1.custom/jquery-ui.min.js')
script(src='/assets/js/plugin/jquery-ui-touch-punch/jquery.ui.touch-punch.min.js')

<!-- jQuery Scrollbar -->
script(src='/assets/js/plugin/jquery-scrollbar/jquery.scrollbar.min.js')

<!-- Moment JS -->
script(src='/assets/js/plugin/moment/moment.min.js')

<!-- Bootstrap Notify -->
script(src='/assets/js/plugin/bootstrap-notify/bootstrap-notify.min.js')

<!-- Bootstrap Toggle -->
script(src='/assets/js/plugin/bootstrap-toggle/bootstrap-toggle.min.js')
script(src='/assets/js/plugin/bootstrap-toggle/bootstrap-branch.min.js')

<!-- DateTimePicker -->
script(src='/assets/js/plugin/datepicker/bootstrap-datetimepicker.min.js')

<!-- Bootstrap Tagsinput -->
script(src='/assets/js/plugin/bootstrap-tagsinput/bootstrap-tagsinput.min.js')

<!-- jQuery Validation -->
script(src='/assets/js/plugin/jquery.validate/jquery.validate.min.js')

<!-- Select2 -->
script(src='/assets/js/plugin/select2/select2.full.min.js')

<!-- Sweet Alert -->
script(src='/assets/js/plugin/sweetalert/sweetalert.min.js')

<!-- Bootstrap Table -->
script(src='/assets/js/plugin/bootstrap-table/bootstrap-table.min.js')

<!-- Axios -->
script(src='/assets/js/plugin/axios/axios.min.js')

// Atlantis JS
script(src='/assets/js/atlantis2.min.js')
script(src='/assets/js/demo.js')
