@media print {
  @page {
    size: A4 portrait;
    margin: 27mm 16mm 27mm 16mm;
  }

  html,
  body {
    width: 1024px;
  }

  body {
    margin: 0 auto;
    line-height: 1em;
    word-spacing: 1px;
    letter-spacing: 0.2px;
    font: 14px;
    background: white;
    color: black;
    width: 100%;
    float: none;
  }

  /* avoid page-breaks inside a listingContainer*/
  .container {
    page-break-inside: avoid;
  }
}
