mixin select({ name, label, description, placeholder, options, vmodel }, value)
  select.form-control(name=name v-model=vmodel)
    each option in options
      option(value=option.value selected=(option.value == value))=(option.text || option.value)