extends ../layouts/main

block content
	.row
		.col-6.col-sm-4.col-lg-2
			.card
				.card-body.p-3.text-center
					i.fas.fa-envelope.fa-5x
					.text-muted.mb-3 Surat Masuk
		.col-6.col-sm-4.col-lg-2
			.card
				.card-body.p-3.text-center
					i.fab.fa-telegram-plane.fa-5x
					.text-muted.mb-3 Surat Keluar
		.col-6.col-sm-4.col-lg-2
			.card
				.card-body.p-3.text-center
					i.fas.fa-folder.fa-5x
					.text-muted.mb-3 Surat Tersimpan

block scripts
	script.
