extends ../layouts/main



block content
    .main
        #title
            h3#name.m-0(style='font-weight: 700') Yth. Purtoyo SH,
            h3#position(style='font-weight: 700') Kepala Bagian Sekretariat
            div(style='border-bottom: 2px solid gray')
        .icons.d-flex.align-items-center.justify-content-between.mt-3.mb-2
            p.m-0(style='color:#2c88d9; font-size: 18px; font-weight: 600') Surat Masuk()
            .icons-fa
                i.fas.fa-filter.fa-lg.fa-flip-horizontal.mr-2(style='color: #4b5c6b; cursor:pointer;' data-toggle="modal", data-target="#ModalBasic")
                a(href="/")
                    i.fas.fa-plus.fa-lg(style='color: #4b5c6b; cursor:pointer;' )


        .message#direksi.pb-3
            .message-content-direksi.mt-2(style='height: 220px; background-color:#dfe6ed;')
                .message-head.d-flex.align-items-center.p-3
                    p#important-letter.mb-0.mr-3.p-1(style='border: 1px solid gray; border-radius: 100px; background-color:#d3455b; color: white; font-weight: 700') Segera
                    p#letter-date.mb-0 25 Maret 2022
                .letter-type-message.pl-3
                    .text-muted.mb-3 Surat Keputusan
                    #no-message.mb-3(style='font-size:16px') 446/5355/5
                    #send-from
                        .p.pb-2 Dari: Sumber Daya Insani
                        .p Direksi: Direktur Utama
            .message-content-direksi.mt-2(style='height: 220px; background-color:#dfe6ed;')
                .message-head.d-flex.align-items-center.p-3
                    p#regular-letter.mb-0.mr-3.p-1(style='border: 1px solid gray; border-radius: 100px; background-color:#1aae9f; color: white; font-weight: 700') Surat Biasa
                    p#letter-date.mb-0 25 Maret 2022
                .letter-type-message.pl-3
                    .text-muted.mb-3 Surat Keputusan
                    #no-message.mb-3(style='font-size:16px') 446/5355/5
                    #send-from
                        .p.pb-2 Dari: Sumber Daya Insani
                        .p Direksi: Direktur Utama
            .modal.fade.modalbox#ModalBasic(data-backdrop="static", tabindex="-1", role="dialog")
                .modal-dialog(role="document")
                    .modal-content
                        .modal-header
                            h5.modal-title Filter
                            a(href="javascript:;", data-dismiss="modal") 
                                i.fa.fa-times.fa-lg(style="color: black;" aria-hidden="true")
                        .modal-title(style='border-bottom: 1px solid gray')
                            
                        .modal-body
                            .h3 Jenis Surat
                            .filter-name.d-flex.mb-4#status
                                button.p-1.mr-2.border(style="cursor:pointer ;border-radius: 100px; background: white")#semua Semua
                                button.p-1.mr-2.border(style="cursor:pointer ;border-radius: 100px;background: white")#segera Segera
                                button.p-1.border(style=" cursor: pointer;border-radius: 100px; background: white ")#biasa Surat Biasa
                            .h3 Tanggal Surat
                            .date.d-flex.mt-4.mb-5
                                p#datepicker.p-2.m-0.border.rounded(style="cursor:pointer ;font-weight: 700;background: blue; color: white") Pilih Tanggal Surat
                            .btn-filter.justify-content-between.d-flex
                                .button.btn.light.border Reset
                                .button.btn(style="background: blue").text-white#filter Filter
                                
block scripts
    //  Jquery 
    script(src="assets/js/plugin/bootstrap-mobilekit/lib/jquery-3.4.1.min.js")
    //  Bootstrap
    script(src="assets/js/plugin/bootstrap-mobilekit/lib/popper.min.js")
    script(src="assets/js/plugin/bootstrap-mobilekit/lib/bootstrap.min.js")
    //  Ionicons 
    script(type="module", src="https://unpkg.com/ionicons@5.0.0/dist/ionicons/ionicons.js")
    //  Owl Carousel 
    script(src="assets/js/plugin/bootstrap-mobilekit/plugins/owl-carousel/owl.carousel.min.js")
    //  jQuery Circle Progress 
    script(src="assets/js/plugin/bootstrap-mobilekit/plugins/jquery-circle-progress/circle-progress.min.js")
    //  Base Js File 
    script(src="assets/js/plugin/bootstrap-mobilekit/base.js")
    script(src="assets/js/messageletter.js")
                            
                                    
                                



            



